target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.idea/uiDesigner.xml
pom.xml
/src/TstAzaza.java
.idea/workspace.xml
out/production/JavaAppiumAutomation/FirstTest.class
out/production/JavaAppiumAutomation/FirstTest.class
/src/lib/UI/MainPageObjectAzaza.java
/src/lib/UI/SearchPageObjectAzaza.java
/src/Azaza/TstAzaza.java
/src/Azaza/SearchPageObjectAzaza.java
/src/Azaza/MainPageObjectAzaza.java
/src/Azaza/TestAzaza.java
/src/Azaza/NavigationUIAzaza.java
/src/Azaza/MyListsPageObjectAzaza.java
/src/Azaza/ArticlePageObjectAzaza.java
/src/lib/UI/MainPageObject.java
/src/lib/CoreTestCase.java
